<div class="item active">
  <a class="active title">
    <i class="dropdown icon"></i>
    <%= t('.teams.title') %>
  </a>

  <div class="content<%= request.path =~ /teams\/teams/ ? ' active' : nil %>">
    <div class="menu sub-actions">
      <%= active_link_to t('.teams.manage'), refinery.teams_admin_teams_path, class: 'item' %>
      <%= active_link_to t('.teams.uncategorized'), refinery.uncategorized_teams_admin_teams_path, class: 'item' %>
      <%= active_link_to semantic_icon('write', text: t('.teams.new')), refinery.new_teams_admin_team_path, class: 'item' %>
      <%# if !searching? && ::Refinery::Teams::Admin::TeamsController.sortable? && ::Refinery::Teams::Team.many? %>
        <%#= link_to t('.reorder', :what => "Teams"),
                     refinery.teams_admin_teams_path,
                     :id => "reorder_action",
                     :class => "reorder_icon item" %>

        <%#= link_to t('.reorder_done', :what => "Teams"),
                     refinery.teams_admin_teams_path,
                     :id => "reorder_action_done",
                     :style => "display: none;",
                     :class => "reorder_icon item" %>
      <%# end %>
    </div>
  </div>
</div>

<div class="item active">
  <a class="title">
    <i class="dropdown icon"></i>
    <%= t('.categories.title') %>
  </a>

  <div class="content<%= request.path =~ /teams\/categories/ ? ' active' : nil %>">
    <div class="menu sub-actions">
      <%= active_link_to t('.categories.manage'), refinery.teams_admin_categories_path, class: 'item', active: :exclusive %>
      <%= active_link_to t('.categories.new'), refinery.new_teams_admin_category_path, class: 'item' %>
    </div>
  </div>
</div>
